body{
  font:14px Georgia, serif;
}

#page-wrap{
  width:600px;
  margin: 0 auto;
}

table{
   border-collapse: collapse; width: 100%;
}

td{
   border:1px solid #ccc; padding:10px;
}
th{
   border:1px solid #ccc; padding:10px;
}

thead{
   width:100%;position:fixed;
   height:109px;
}